.contacts
	a.contact(href="tel:+9678236579")
		i.fa.fa-mobile.contact__icon(aria-hidden="true")
		span.contact__text +9678236579

	a.contact(href="mailto:nnet.d@yandex.ru")
		i.fa.fa-envelope.contact__icon.contact__icon--email(aria-hidden="true")
		span.contact_text nnet.d@yandex.ru

	a.facebook-icon(href="http://www.facebook.com")
		i.fa.fa-facebook(aria-hidden="true")